@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
END RESET
*/

body {
	line-height: 1.2;
	font-size: .85em
}

#home{
	padding-bottom: 1em;
	margin-top: 20em;
}

h1 {
	font-weight: lighter;
	font-size: 3em;
}

h2{
	font-size: 1.6em;
	padding: .2em 0;
}

h3 {
	font-size: 1.4em;
	padding: .2em 0;
}

h4, h5, h6 {
	font-size: 1.2em;
	padding: .2em 0;
}

a{
    text-decoration: none;
}

header{
    color:#fff;
    background: #33E5CF;
    border-bottom: solid 1px #ADAA8C;
	border-top: solid 1px #ADAA8C;
	text-align: center;
	margin: 2em 0;
}

header, nav a, .aside p{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
}

hgroup {
	padding: 0.3em;
}

header h1 a {
	color: #fff;
}

header h1 a:hover {
	color: #adaa8c;
}

nav {
	text-align: center;
	height: 3em;
}

nav a{
    text-decoration: none;
    color:#adaa8c;
    padding: 0 1em;
	font-size: 1em;
	font-style: italic;
	transition: all .5s;
}

nav a:hover {
    color:#33E5CF;
	font-size: 1.5em;
}

footer {
	float: right;
	color:#33E5CF;
	font-style: italic;
	margin: 3em 1em;
	font-variant: small-caps;
}

p {
    font-family: 'Merriweather', sans-serif;
	margin-top: 1em;
}

p  img {
	width: 80%;
}

article {
	width: 60%;
	float: left;
	padding: 2%;
	border-right-style: solid #ADAA8C 10px;
}
aside {
	width: 25%;
	float: right;
	padding: 2%;
}

#my-pic{

	height: 100%;
	width:100%;
}

.content {
	width: 80%;
	margin: 0 auto;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.thumb img{
    
    height: 250px;
    width:165px;
}

.clear {
	clear: both;
}

/*
START GALLERY
 */
.gallery{
	margin: 2em
}

.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 90%;
    margin-top: 2%;
    border:5px solid #fff;    
}

.lightbox:target {
    background: rgba(0, 0, 0, 0.7);
    /** Remove default browser outline */
    outline: none;
    /** Unhide lightbox **/
    display: block;    
}
/*
END GALLERY
*/
@media (min-width: 700px) and (max-width: 980px){
    
	.content {
		width: 90%;
	}
	article {
		width: 60%;
		padding: 1%;
	}	
	aside {
		width: 25%;
		padding: 1%;
	}

}
@media (max-width: 699px){
    
	.content {
		width: 90%;
		float:right;
	}
	article {
		width: 100%;
		float:right;
	}	
	aside {
		width: 100%;
		float:left;
	}
	p img {
		width: 45%;
	}

}

@media (max-width: 550px){
    
	.content {
		width: 90%;
		float:right;
	}
	article {
		width: 100%;
		float:right;
	}	
	aside {
		width: 100%;
		float:left;
	}
	p img {
		width: 45%;
	}

}
@media (max-width: 450px){
    
	.content {
		width: 90%;
		float:right;
	}
	article {
		width: 100%;
		float:right;
	}	
	aside {
		width: 100%;
		float:left;
	}
	p img {
		width: 80%;
	}

}